/* 

- App style

*/
:root{
  --main-bg-color:#0A0B0A;
  --main-color: #D5AD72;   
  --white:white;
  --bg-color:#222222;
  --text-transition:all .3s ease;
  --small-text:1.3rem;
  --gap-low:1.5rem;
  --black:black;
  --main-font:'JosefinSans';
  --bold-font:'JosefinSans-bold';
  --light-blue:#3bc8e7;
  --caption-color:#777777;
  --input-bg:#1D1D1D;
  --footer-bg:#111;
}
html {
font-size: 62.5%; 
scroll-behavior: smooth;
box-sizing: border-box;
}

*,
*::after,
*::before {
box-sizing: inherit;

}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

body {
font-size: 1.6rem;
line-height: 1.6rem;
font-family: 'sahel';
background-color:var(--main-bg-color);
color: var(--white)
}

/*

-- Reset Styles

*/
a {
text-decoration: none;
color:black;
}
a {
  text-decoration: none;
  color:var(--main-color);
  }
ul {
list-style-type: none;
padding-left: 0;
margin: 0;
}
li{
  list-style-type: none;
}
/*

-- Helper Classes

*/
.center{
  display: flex;
  align-items: center;
  justify-self: center;
}



/*

-- Header

*/
.fade-effect {
  animation: fadeAnimation 2s;
}

@keyframes fadeAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}
.header{
  border-radius: 1.5rem;
  background-color: var(--main-bg-color);
}

.header__wrapper{
  background-image: url(../Images/bg-image/bg1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  z-index: -10;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all .5s ease;
  z-index: 100;
  border-radius: 1.5rem;

}
.header-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  transition: opacity 2s ease-in-out;
  opacity: 0;
  border-radius: 1.5rem;
}
.header-background-image.loaded {
  opacity: 1;
}


.header__dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95.9rem;
  background: #000;
  opacity: .5;
  z-index: 0;
  border-radius: 1.5rem;
}
.header-content{
  text-align: center;
  height: 50%;
  margin-top: 30rem;
}
.header-content__item{
  line-height: 4rem;
  z-index: 12;
}
.header-content__left{

}
.header-content__info{
  font-size: 2.5rem;
  color: var(--main-color);
  display: flex;
}

.header-content__title{
  font-size: 5.5rem;
  color: var(--white);

}
.header-content__button{
  cursor: pointer;
  margin-top: 5rem;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 2rem 3rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: var(--text-transition);
  color: var(--white);
  font-size: 2rem;
  border: solid 1px var(--main-color);
  display: flex;

}
.header-content__button:hover{
  background-color: var(--main-color);
  color: var(--white);
}
.header-content__right{

}
.header-content__socials{

}
.header-content__social{

}
.header-content__dot{

}
.header__black-div{
  position: absolute;
  left: 20px;
  right: 0;
  bottom: -251px;
  height: 350px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 100%);
  z-index: 2;
  border-radius: 0 0 0 20px;
  top: 56rem;
  width: 100%;
}








/*

-- Nav

*/

.nav__icon-f{
  font-size: 4rem;
}



.nav {
  padding: 11rem 4rem 0 4rem;
}


.nav__wrapper {
  justify-content: space-between;
  position: fixed;
  gap: 60rem;
  top: 4.5rem;
  z-index: 9999999999;
}

.nav__content {
  gap: 4rem;
  background-color: var( --main-bg-color);
  padding: 1rem 4rem;
  border-radius: 1.5rem;
  background-color: var(#111111);
  position: relative;
}
.nav__content::before {
content: '';
position: absolute;
top: -5px;
left: -5px;
right: -5px;
bottom: -5px;
border: 1px dashed rgba(255,255,255,.2);
z-index: -2;
box-shadow: 0px 0px 0px 5px rgba(255,255,255,.09);
}


.nav__informations {
gap:2rem;
}

.center {
}

.nav__information {
  cursor: pointer;
  transition:var(--text-transition);
  font-size:var(--small-text);
}
.nav__information:hover {
  color: var(--main-color);
}
.nav__informatoin-color{
  color: var(--main-color);
}
.nav__left {
 border-left:  solid .1rem var(--bg-color);
 padding-left: 1rem;
}
.header-content__dots{

}
.header-content__dot{
width: 6px;
height: 6px;
border-radius: 50%;
background: var(--main-color);
position: absolute;
left: 0;
top: 50%;
margin-top: -3px;
}
.nav__menu {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-left: solid .1rem var(--bg-color);
}

.nav__menu-bar{
  display: block;
  width: 3rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  position: relative;
  transition: all 150ms ease-in-out;
}
.nav__menu-bar::after{
  content: ' ';
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  transition: all 200ms ease-in-out;
  top: -.9rem;
}
.nav__menu-bar::before{
  content: ' ';
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  transition: all 200ms ease-in-out;
  top: .8rem;
}
.nav__shares {
 gap: 1rem;
 cursor: pointer;
 transition: var(--text-transition);
 margin-right: 2rem;
}
.nav__shares:hover {
  color: var(--main-color);
}
.nav__share {
  margin-right: .5rem;
  font-size: 1.5rem;
}

.fa-solid {
}

.fa-chevron-down {
}

.nav__book {
  background-color: var(--bg-color);
  padding: 1.7rem 5rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: var(--text-transition);
  color: var(--main-color);
  font-size: 1.7rem;
}
.nav__book:hover {
  background-color: var(--main-color);
  color: var(--white);
  
}
.nav__shopping-cart {
  position: relative;
  cursor: pointer;
}

.fa {
}

.fa-shopping-basket {
}

.nav__shopping-count {
}

.nav__logo {
  z-index: 1;
}
.nav__log-image{
  width: 15rem;
}



.header-content__top{
top: 50%;
display: flex;
justify-content: space-between;
align-items: center;
margin: -8.5rem 8rem 0 8rem;
}
.header__socials{
position: relative;
margin-top: -9rem;
}
.header__socials::after{
content: '';
position: absolute;
left: 50%;
width: 1px;
border-left: 2.5px dotted rgba(255,255,255,.2);
height: 127px;
border: -1rem;
bottom: -15rem;
}
.header__socials::before{
  content: '';
position: absolute;
left: 50%;
width: 1rem;
border-left: 2.5px dotted rgba(255,255,255,.2);
height: 127px;
border: -1rem;
top: -15rem;
}
.header__social{
border: 1px solid rgba(255, 255, 255, 0.1);
background-color: var(--input-bg);
width: 5rem;
height: 5rem;
border-radius: .3rem;
text-align: center;
cursor: pointer;
padding-top: 1.3rem;
transition: all .5s ease;
margin-top: .5rem;

}
.header__social:nth-child(1){
margin-top: -.5rem;
}
.header__social:hover{
background-color: var(--white);
border-radius: 50%;
}
.header-bottom{
background: #0A0B0A;
z-index: 25;
justify-content: space-between;
display: flex;
align-items: center;
margin-top: 13.7rem;
width: 60%;
margin-left: 57rem;
margin-right: -1.5rem;
height: 25rem;
border-top-left-radius: 2rem;
border-bottom-left-radius:2rem;
}
.header-bottom__content{
padding: 0 3rem;
}
.header-content__video{
 background-image: url(../Images/10.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  width: 50rem;
  height: 20rem;
  margin-top: 0;
}
.header-content__video::after{
position: absolute;
content: '';
width: 100%;
height: 100%;
background-color: black;
right: 0;
top: 0;
opacity: 50%;
z-index: -99;
}
.header__plaly-icon{
color: var(--main-color);
z-index: 9999;
background: var(--bg-color);
padding: 2.5rem 2.5rem;
border-radius: 70%;
margin-top: 6.5rem;
cursor: pointer;
transition: all .5s ease;
text-align: center;
position: relative;
}
.header__plaly-icon:hover{
background: var(--white);
}
.header-content__card {
width: 70%;
color: #fff;
padding: 6.5rem 3.0rem 6.5rem 6.0rem;
text-align: right;
position: relative;
z-index: 3;
line-height: 3rem;
height: 22rem;
margin-top: -2rem;
margin-left: -10rem;
}
.header-content__card::before{
content: '';
position: absolute;
top: 20px;
left: 20px;
right: 10px;
bottom: 0px;
z-index: -1;
background: #151515;
border-radius: 10px;
border: 1px solid rgba(255,255,255,.1);
}
.header-content__title-card{
font-size:2.3rem;
color: var(--main-color);
}
.header-content__caption-card{

}

/*

---------------------- Main

*/



.main-data{
  width: 60%;
  margin-right:1rem;
}





/*

-- Static

*/




.static-main{
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -3;
}

.static{
  width: 36%;
  height: 98%;
  background-image: url(../Images/static.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  position: absolute;
  z-index: -100;
  left: 4rem;
  top:1rem;
}
.overlay-static{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95.6rem;
  background: #000;
  opacity: .7;
  z-index: 0;
  border-radius: 1rem;
}
.static__wrapper{
  position: relative;
}
.static__data{
  position: absolute;
  top: 54rem;
}
.static__title{
  font-size: 6rem;
  color: var(--main-color);
}
.static__caption{
  line-height: 2.2rem;
}




.about-us__left{
background-image: url(../Images/7.jpg);
}




.main-sesction{
  justify-content: space-between;
}



/*

---------------------About Us--------------------

*/

.about-us {
  background-color: var(--white);
  width: 100%;
  color: var(--main-bg-color);
  border-radius: 1.5rem;
  height: 80rem;
  padding: 0 5rem;
  position: relative;
  z-index: 101;
  margin-top: 2rem;
}

.container {}

.about-us__wrapper {
  justify-content: space-between;
  gap: 10rem;
  padding-top: 8rem;
}
.about-us__flower {
  position: absolute;
  width: 18rem;
  right: -2rem;
  top: 0rem;
  height: 16rem;
  z-index: -999896;
}
.about-us__right {
  width: 50%;

}

.about-us__titles {
  line-height: .5rem;
  border-bottom: dashed 2.5px var(--input-bg);
  padding-bottom: 3rem;
}

.about-us__title {
  color: var(--main-color);
}
.about-us__title-big {
  font-size: 2.5rem;
}
.about-us__descriptions {
  line-height: 3rem;
}

.about-us__q {
  font-size: 10rem;
  color: var(--main-color);
}

.about-us__description {
}

.about__us__main {}

.abou-us__lists {
  line-height: 3rem;
  margin-top: 2rem;
  border-bottom: dashed 2.5px var(--input-bg);
  padding-bottom: 3rem;
}

.about-us__list {
  margin-right: -5rem;

}

.about-us__readmore{
    padding: 20px 35px;
    color: var(--main-color);
    text-align: center;
    margin-top: 3rem;
    margin-right: -1rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.7rem;
    box-shadow: 0px 10px 24px 0px rgba(12, 0, 46, .3);
}

.about-us__readmore:hover{
  padding: 18px 50px;
  background-color: var(--main-color);
  color:var(--input-bg) ;
  text-align: center;
  margin-top: 3rem;
  border-radius: .5rem;
  cursor: pointer;
}
.about-us__image {}


.about-us__left {
background-image: url(../Images/bg-image/bg1.jpg);
background-size: cover;
background-position: center;
border-radius: 1rem;
z-index: -10;
width: 50%;
height: 60rem;
position: relative;
}
.about-us__left::after{
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 50%;
  border-radius: 1.2rem;
}
.about-us__search {
  margin-top: 2rem;
  margin-right: 3rem;
}

.about-us__search-link .fa {
  background: var(--footer-bg);
  padding: 2rem;
  border-radius: 50%;
  color: var(--main-color);
}

.about-us__buttons {
  color: var(--main-color);
  justify-content: space-between;
  margin: 45rem 3rem;
  position: relative;
}

.about-us__button {
  gap: 3rem;
  transition: all .5s ease;
  cursor: pointer;
}

.about-us__button:hover{
  gap: 3rem;
  background-color: red;
}

.about-us__pagination {
  color: var(--white);
  padding: .5rem;
  border-radius: 100%;
}

.about-us__button-event {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--footer-bg);
  color: var(--main-color);
  position: relative;
}
.about-us__button-event:hover{
  background-color:var(--main-color);
  color: var(--footer-bg);
}
.about-us__button-icon{
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}
.icon-f{
font-size: 2.5rem;
margin-left: 1.5rem;
}





/*

---------------------Book Table--------------------

*/



.book-table{
  background-color: var(--footer-bg);
  width: 100%;
  border-radius: 2rem;
  height: 70rem;
  text-align: center;
  margin-top: 3rem;
}
.book-table__titles{
  padding-top: 3rem;
}
.book-table__title-top{
  font-size: 2rem;
  color: var(--main-color);
}
.book-table__title{
  font-size: 3rem;
}
.book-table__dot{
  position: relative;
  width: 150px;
  display: inline-block;
  margin-top: 14px;
}
.book-table__dot span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--main-color);
  display: inline-block;
}
.book-table__dot::after{
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  border-top: 1px dotted;
  top: 50%;
  margin-top: 1px;
  left: 0;

}
.book-table__dot::before{
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  border-bottom: 1px dotted;
  top: 50%;
  margin-top: 1px;
  right: 0;
}
.book-table__main{
  gap: 1rem;
  margin-top: 5rem;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.book-table__content{
  background-color: var(--bg-color);
  height: 38rem;
  border-radius:1rem;
  padding: 6rem 2rem 0 2rem;
}
.book-table__border{

}
.book-table__content-title{

}
.book-table__content-title-bottom{
  color: var(--main-color);
}
.book-table__content-caption{
  color:var(--white);
  line-height: 3rem;
  border-bottom: dotted 1px var(--white);
  padding-bottom: 5rem;
  width: 32.5rem;
}
.book-table__content-end{

}
.book-table__bottom{
  text-align: center;
  gap: 5rem;
  color: var(--main-color);
  margin-top: 4rem;
  margin-right: 46rem;
}
.book-table__number{
  color: var(--white);
}

.book-table__number-1{
  padding-left: 1rem;
}
.book-table__number-2{
  padding-right: 1rem;
}
.book-table__icon{
  cursor: pointer;
}











/*

---------------------Special Select--------------------

*/






.special-select{
  background-color: var(--white);
  width: 100%;
  border-radius: 2rem;
  height: 85rem;
  margin-top: 3rem;
  color: var(--main-bg-color);
}
.special-select__wrapper{
  align-items: start;
  padding-top: 10rem;
  gap: 5rem;
}
.special-select__right{
  background-color: var(--white);
  width: 75%;
  border: dashed 2px #ccccd1;
  height:70rem;
  box-shadow: 0px 10px 54px 0px rgba(12, 0, 46, .07);
}
.special-select__menus{
  display: none;
}
.special-select__menus--show{
  display: block;
}
.special-select__menu{
  justify-content: space-between;
  margin-top: 4rem;
  border-bottom: dashed 2px #ccccd1;
  padding-bottom: 2rem;
  width: 73rem;
}
.special-menu__right{ 
}
.special-menu__price{
  color: var(--main-color);
  font-size: 2.5rem;
}
.special-menu__button{
  background-color: var(--footer-bg);
  color: var(--main-color);
  border-radius: .5rem;
  width: 15rem;
  height: 4rem;
  text-align: center;
  padding-top: 1rem;
  transition: all .5s ease;
  cursor: pointer;
} 
.special-menu__button:hover{
  background-color: var(--main-color);
  color:var(--footer-bg);
}
.special-menu__left{
  gap: 1rem;
}
.special-menu__titles{

}
.special-menu__title{
  transition: all .5s ease;
  cursor: pointer;
}
.special-menu__title:hover{
  color: var(--main-color);
}
.special-menu__description{
   font-size: 1.5rem;
   color: var(--caption-color);
}
.speical-menu__image-container{
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, .2);
}
.special-menu__image{
  width: 100%;
  height: 100%;
}
.special-select__left{
width: 25%;
}
.special-select__titles{
  border-bottom: dashed 2px #ccccd1;
  padding-bottom: 2rem;
}
.special-select__title-top{
  color: var(--main-color);
  font-size: 2rem;
}
.special-select__title{
  font-size: 3rem;
}
.special-select__categories{
  margin-top: 3rem;
  border-bottom: dashed 2px #ccccd1;
  padding-bottom: 2rem;
}
.special-select__category{
  justify-content: space-between;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.special-select__category--active{
  color: var(--main-color) !important;
}
.special-select__category:hover{
  color: var(--main-color) !important;
}


.special-select__name{

}
.special-select__icon{
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.special-select__name{

}
.special-select__description{
  line-height: 3rem;
}
.special-select__button{
  width: 25rem;
 height: 6rem;
 background-color: var(--input-bg);
 color: var(--main-color);
 text-align: center;
 padding-top: 2rem;
 border-radius: .5rem;
 cursor: pointer;
 transition: all 0.5s ease;
}
.special-select__button:hover{
   background-color: var(--main-color);
  color: var(--input-bg);
 }
 





/*

---------------------Notes--------------------

*/





.section-note{
  background-color: var(--footer-bg);
  width: 100%;
  height: 40rem;
  border-radius: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: solid .1px rgba(255,255,255,.1);

}
.section-note__notes{
  gap: 2rem;
  padding-top: 3rem;
 }
.section-note__note{
  background-color: var(--bg-color);
  width: 80rem;
  height: 35rem;
  border-radius: 1.5rem;
  border: solid .1px rgba(255,255,255,.1);
  padding: 0 5rem;
 }
.section-note__top{
  justify-content: space-between;
}
.section-note__number{
  font-size: 2.5rem;
  color: var(--caption-color);
 }
.section-note__main{
  margin-top: 3rem;
  border-bottom: solid 2px #ccccd1;
  padding-bottom: 2rem;
 }
.section-note__title{

 }
.section-note__description{
  line-height: 3rem;
 }
.section-note__bottom{

 }
.section-note__notif{
    color: var(--main-color);
    margin-top: 3rem;
 }
.section-note__icon{
  color: var(--main-color);
  font-size: 3.5rem;
}













/*

---------------------Section-Comments--------------------

*/

.section-comment{
  width: 100%;
  height: 50rem;
  background-color: var(--white);
  color: var(--main-bg-color);
  border-radius: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}
.section-comment__wrapper{
  text-align: center;
}
.section-comment__titles{

}
.section-comment__title-top{
  font-size: 2rem;
  color: var(--main-color);
}
.section-comment__title{
  font-size: 2.5rem;
  color: var(--main-bg-color);
}
.section-comment__name{
  color: var(--main-color);
  font-size: 2rem;
}
.section-comment__dot{
  position: relative;
  width: 150px;
  display: inline-block;
  margin-top: 14px;
}
.sectoin-comment-span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--main-color);
  display: inline-block;
}
.section-comment__dot::after{
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  border-top: 1px dotted;
  top: 50%;
  margin-top: 1px;
  left: 0;

}
.section-comment__dot::before{
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  border-bottom: 1px dotted;
  top: 50%;
  margin-top: 1px;
  right: 0;
}
.section-comment__main{
  box-shadow: 0px 10px 34px 0px rgba(12, 0, 46, .07);
  background-color: var(--white);
  border:dashed 2px #ccccd1;
  margin-top: 3rem;
  height: 27rem;
}
.section-comment__image-container{
}
.section-comment__image{
  border-radius: 100%;
  width: 6rem;
}
.section-comment__titles{

}
.section-comment__title{

}
.section-comment__description{
  line-height: 3rem;
}
.section-comment__stars{
  margin-bottom: 3rem;
}
.section-comment__star{
  color: var(--main-color);
}
.section-comment__number{
  color: var(--main-bg-color);
  border-radius: 100%;
  padding: 1rem 1.2rem;
  background-color: var(--white);
  border: dashed 1px #ccccd1;
}
.section-comment__pagination{

}

.book-table__dot{
 
}








/*

---------------------footer--------------------

*/


.footer{
background-color: var(--footer-bg);
width: 60%;
border-radius: 1.5rem;
font-size: 1.3rem;
 z-index: -999;
 margin-right: 1rem;
}
.footer__top{
padding-top: 5rem;
padding-bottom: 5rem;
border-bottom: 1px solid rgba(255,255,255,.1);
gap: 25rem;
} 
.footer__subscribe{
gap: 5rem;

}
.footer__sub{

}
.footer__sub-inputs{

}
.footer__sub-input{
  outline: none;
  padding: 1.5rem 5.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: .3rem;
  background-color:var(--input-bg);
  color: var(--white);
}
.footer__sub-button{
background-color: var(--main-color);
color: var(--main-bg-color);
padding: 1.5rem 5.5rem;
border-radius: .3rem;
margin-right: 1rem;
cursor: pointer;
transition: all .5s ease;
}
.footer__sub-button:hover{
background-color: var(--white);
color: var(--main-color);
padding: 1.5rem 5.5rem;
border-radius: .3rem;
margin-right: 1rem;
cursor: pointer;
}
.foooter__follow{
gap: 5rem;

}
.footer__follow__title{

}
.footer__socials{
gap: .5rem;
font-size: 2rem;
}
.footer__social{
border: 1px solid rgba(255, 255, 255, 0.1);
background-color: var(--input-bg);
width: 5rem;
height: 5rem;
border-radius: .3rem;
text-align: center;
cursor: pointer;
padding-top: 1.3rem;
transition: all .5s ease;
}
.footer__social:hover{
background-color: var(--white);
border-radius: 50%;
}

.footer__main{

}
.footer__about-us{

}
.footer__title{
color: var(--main-color);
}
.footer__description{
width: 53rem;
line-height: 3rem;
}
.footer__contact-info{
line-height: 3rem;
}
.footer__opening-hours{
margin-right: 5rem;
}
.footer__week{

}
.footer__time{

}
.footer__week-title{

}
.footer__title-description{
color: var(--main-color);
cursor: pointer;
margin-top: 1rem;
}

.footer__link{
transition: all .5s ease;
}
.footer__link:hover{
  color: var(--white);
}

.footer__weeks{
gap: 3rem;
margin-top: -.5rem;
margin-bottom: 3.5rem;

}
.footer__main {
border-bottom: 1px solid rgba(255,255,255,.1);
}









.menu-static__wrapper{
  margin-top: 2rem;
  position: relative;
}

.menu-static{
  width: 80rem;
  background-color: var(--footer-bg);
  height: 60rem;
  text-align: center;
  border-radius: 1.5rem;
  position: fixed;
  top: -95rem;
  right:5rem;
  z-index: 99999999999999999999;
  border: solid var(--bg-color) 4px;
  transition: all 1s ease;
}
.menu-static--show{
  top: 15rem;
}
.menu-static__lists{
  gap: 6rem;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  margin-right: -4rem;
  flex-direction: column;
}
.menu-static__list{
  cursor: pointer;
  transition: all 0.5s ease;
}
.menu-static__list:hover{
  color: var(--main-color);
}
.menu-static__socials {
  gap: 1rem;
  position: absolute;
  left: 29rem;
  bottom: -6rem;
}
.menu-static__social{
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--input-bg);
  width: 5rem;
  height: 5rem;
  border-radius: .3rem;
  text-align: center;
  cursor: pointer;
  padding-top: 1.3rem;
  transition: all .5s ease;
}
.menu-static__social:hover{
  background-color: var(--white);
  border-radius: 50%;
  }
  .section-comment__dot--menu{
    width: 15.8rem;
  }



.dragging{
  cursor: grab;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Firefox */
}


.swiper-button-prev{
  margin-right: -1.3rem;
  color:var(--main-color);
  margin-top: 1rem;
  margin-top: -.5rem;

}
.swiper-button-next{
  margin-left: -1.3rem;
  size: 1rem;
  color:var(--main-color);
  margin-top: -.5rem;

}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 2.5rem; 
}
.swiper2{
  margin-top: 6rem;
}














/*

---------------------Cart--------------------

*/
.header__cart {
  background-color: var(--white);
  position: fixed;
  width:45rem;
  color: var(--main-bg-color);
  height:50rem;
  border-radius: .7rem;
  top: 15rem;
  right: 35rem;
  box-shadow: 0 10px 14px 0px rgba(0,0,0, .3);
  opacity: 0;
  z-index: -999999999999999;
  transition: all 1s ease-in-out;
}

.header__cart-top {
  justify-content: space-between;
  margin: 0 2rem;
  border-bottom: dotted 1px var(--main-bg-color);
  width: 40rem;
}

.header__cart-esc {
  cursor: pointer;
}

.header__cart-count {}

.header__cart-item {
  margin-right: 2rem;
  color: var(--caption-color);
}

.header__cart-products {
    margin-top: 2rem;
    overflow: auto;
    max-height: 250px;
    overflow: auto;
    background: #f9f9f9;
    border-radius: 10px;
    scrollbar-width: none;
}

.header__cart-product {
  justify-content: space-between;
  margin: 0 2rem;
  border-bottom: dotted 1px var(--main-bg-color);
  width: 40rem;
  margin-bottom: 2rem;
}


.header__cart-product-right {
  cursor: pointer;
}

.header__cart-product-left {
  gap: 5rem;
}

.header__cart-image-container {}

.header__cart-number {
  margin-left: .5rem;
  color: var(--caption-color);

}

.header__cart-image {
  width: 11rem;
  border-radius: 1rem;
  cursor: pointer;
}

.header__cart-information {}

.header__cart-name {
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.header__cart-name:hover {
  color: var(--main-color);
}


.headear__cart-prices{
  color: var(--caption-color);
}

.header__cart-price {}

.header__cart-total-price {
  justify-content: space-between;
  margin: 0 2rem;
  border-bottom: dotted 1px var(--main-bg-color);
  width: 40rem;
}

.header__cart-total {}

.header__cart-money {}

.header__cart-buttons {
  gap: 5rem;
  margin: 2rem 1rem 0 1rem;
}

.header__cart-button {
  background-color: var(--footer-bg);
  color: var(--main-color);
  padding: 20px 60px;
  border-radius: 4px;
  background: #111;
  font-size: 1.2em;
  font-weight: 700;
  transition: all .3s ease-in-out;
  box-shadow: 0 10px 14px 0px rgba(0,0,0, .3);
  color: var(--main-color);
  cursor: pointer;
}

.header__cart-button:hover {
  background-color: var(--main-color);
  color: var(--footer-bg);
}
.cart-now{
  opacity: 1 !important;
}
.cart-index{
  z-index: 9999999999 !important; 
}