/* 

- App style

*/
:root{
    --main-bg-color:#0A0B0A;
    --main-color: #D5AD72;   
    --white:white;
    --bg-color:#222222;
    --text-transition:all .3s ease;
    --small-text:1.3rem;
    --gap-low:1.5rem;
    --black:black;
    --main-font:'JosefinSans';
    --bold-font:'JosefinSans-bold';
    --light-blue:#3bc8e7;
    --caption-color:#777777;
  }
  html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
  box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
  box-sizing: inherit;
  
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
  
  body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: 'sahel';
  background-color:var(--main-bg-color);
  color: var(--white)
  }
  
  /*
  
  -- Reset Styles
  
  */
  a {
  text-decoration: none;
  }
  
  ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  }
  /*
  
  -- Helper Classes
  
  */
  .center{
    display: flex;
    align-items: center;
    justify-self: center;
  }

  

  /*
  
  -- Header
  
  */

.header{
    background-image: url(../Images/bg-image/bg1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    position: relative;
    z-index: -10;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    z-index: -2;
    box-shadow: 10px 85px 0px 0px rgba(12, 0, 46, .07);
}
.header-content{
    text-align: center;
    height: 50%;
    margin-top: 30rem;
}
.header-content__item{
    line-height: 4rem;
}
.header-content__left{

}
.header-content__info{
    font-size: 2.5rem;
    color: var(--main-color);

}

.header-content__title{
    font-size: 5.5rem;
    color: var(--white);

}
.header-content__button{
    cursor: pointer;
    margin-top: 5rem;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: var(--text-transition);
    color: var(--white);
    font-size: 2rem;
    border: solid 1px var(--main-color);

}
.header-content__button:hover{
    background-color: var(--main-color);
    color: var(--white);
}
.header-content__right{

}
.header-content__socials{

}
.header-content__social{

}
.header-content__dot{

}
.header__black-div{
    position: absolute;
    left: 20px;
    right: 0;
    bottom: -251px;
    height: 350px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 100%);
    z-index: 2;
    border-radius: 0 0 0 20px;
    top: 56rem;
    width: 100%;
}









  
  /*
  
  -- Nav
  
  */





  .nav {
}

.nav__wrapper {
    justify-content: space-between;
}

.nav__content {
    gap: 5rem;
}

.nav__informations {
  gap:2rem;
}

.center {
}

.nav__information {
    cursor: pointer;
    transition:var(--text-transition);
    font-size:var(--small-text);
    

}
.nav__information:hover {
    color: var(--main-color);
}
.nav__informatoin-color{
    color: var(--main-color);
}
.nav__left {
   border-left:  solid .1rem var(--bg-color);
   padding-left: 1rem;
}

.nav__menu {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-left: solid .1rem var(--bg-color);
}

.nav__menu-bar{
    display: block;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--main-color);
    position: relative;
    transition: all 150ms ease-in-out;
}
.nav__menu-bar::after{
    content: ' ';
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--main-color);
    transition: all 200ms ease-in-out;
    top: -.9rem;
}
.nav__menu-bar::before{
    content: ' ';
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--main-color);
    transition: all 200ms ease-in-out;
    top: .8rem;
}
.nav__shares {
   gap: 1rem;
   cursor: pointer;
   transition: var(--text-transition);
   margin-right: 2rem;
}
.nav__shares:hover {
    color: var(--main-color);
 }
.nav__share {
    margin-right: .5rem;
}

.fa-solid {
}

.fa-chevron-down {
}

.nav__book {
    background-color: var(--bg-color);
    padding: 2rem 6rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: var(--text-transition);
    color: var(--main-color);
    font-size: 2rem;
}
.nav__book:hover {
    background-color: var(--main-color);
    color: var(--white);
    
}
.nav__shopping-cart {
    position: relative;
}

.fa {
}

.fa-shopping-basket {
}

.nav__shopping-count {
}

.nav__logo {
}
.nav__log-image{
    width: 15rem;
}








  /*
  
  ---------------------- Main
  
  */









  /*
  
  -- Static
  
  */






.static{
    width: 36%;
    height: 86vh;
    background-image: url(../Images/bg-image/10.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    position: relative;
    z-index: 10;
    margin-left: 2rem;
}
.static::after{
   content: '';
   position: absolute;
   background-color:var(--main-bg-color);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 30%;
   z-index: -10;
}
.static__wrapper{
    position: relative;
}
.static__data{
    position: absolute;
    top: 54rem;
}
.static__title{
    font-size: 6rem;
    color: var(--main-color);
}
.static__caption{
    line-height: 2.2rem;
}










.main-sesction{
    justify-content: space-between;
}













  /*
  
  ---------------------footer--------------------
  
  */


.footer{

  }
.footer__top{

  } 
.footer__subscribe{

  }
.footer__sub{

  }
.footer__sub-inputs{

  }
.footer__sub-input{

  }
.footer__sub-button{

  }
.footer__line1{

  }
.footer__main{

  }
.footer__about-us{

  }
.footer__title{

  }
.footer__description{

  }
.footer__contact-info{

  }
.footer__opening-hours{

  }
.footer__week{

  }
.footer__time{

  }
.footer__week-title{

  }
.footer__title-description{

  }
.footer__line2{

  }

.footer__bottom{

}
.footer-bottom-left{

}
.footer__copy-right{

}
.footer-bottom-right{

}
.footer__payment{

}
.footer__visa{

}
.footer__mastercard{

}
.footer__paypal{

}
.footer__chevrons-up{

}