.blog-page{
    background-color: var(--white);
    color: var(--main-bg-color);
    width: 60%;
    max-height: 165rem;
    border-radius: 1.5rem;
}
.blog-page__wrapper{
    padding: 10rem 5rem 0 5rem ;
}
.blog-page__top{
    justify-content: space-between;
    border: dashed 2px #ccccd1;
    padding: 1rem 6rem 1rem 6rem;
    margin: 0 1rem;
}
.blog-page__filters{
    background-color: #222222;
   width: 15rem;
   height: 5rem;
   color: var(--main-color);
   box-shadow: 0px 10px 24px 0px rgba(12, 0, 46, .3);
   text-align: center;
   padding-top: 1.5rem;
   cursor: pointer;
   transition: all  .5s ease;
   margin-top:2.3rem;
}
.blog-page__filters:hover{
    background-color: var(--main-color);
   width: 15rem;
   height: 5rem;
   color: #222222;
   box-shadow: 0px 10px 24px 0px rgba(12, 0, 46, .3);
   text-align: center;
   padding-top: 1.5rem;
   cursor: pointer;
   transition: all  .5s ease;
}
.blog-page__inputs{

}
.blog-page__filter{
    outline: none;
    width: 37rem;
    height: 5rem;
    background-color: #F9F9F9;   
    border: solid 1px #E1E1E1; 
    margin-top: 2rem;
    font-size: 1.6rem;
}
.blog-page__filter:focus{
    background-color: var(--white);
    box-shadow: 1px 1px 5px 0px rgba(12, 0, 46, .2);
}
.blog-page__icon{

}
.blog-page__blogs{
margin-top: 5rem;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 2rem;
margin-right: 5rem;
}
.blog-page__blog{
    border: dashed 2px #ccccd1;
    background-color: #F9F9F9;
    width: 46rem;
    border-radius: 1.5rem;
    height: 70rem;
    box-shadow: 0px 10px 24px 0px rgba(12, 0, 46, .3);
}
.blog-page__image-container{

}
.blog-page__image{
    width: 46rem;
    border-radius: 1.5rem;
}
.blog-page__content{
    background-color: var(--white);
    border: dashed 2px #ccccd1;
    margin:4rem 2rem 0 2rem;
    text-align: center;
    height: 30rem;
    border-radius: 1.5rem;
}
.blog-page__titles{

}
.blog-page__title{

}
.blog-page__caption{
    color: var(--main-color);
}
.blog-page__date{

}
.blog-page___catagory{

}
.blog-page__tag{

}
.blog-page__description{
    padding: 0 .5rem;
    text-align: right;
    line-height: 3rem;
}
.blog-page__button{
    background-color: #222222;
    height: 6rem;
    border-bottom-left-radius:1.5rem;
    border-bottom-right-radius:1.5rem;
    color: var(--main-color);
    font-size: 2rem;
    margin-top: 7rem;
    padding-top: 2rem;
    cursor: pointer;
    transition: all .5s ease;
}
.blog-page__button:hover{
    background-color: var(--main-color);
    color: #222222;
}


.blog-block{
    display: none;
}






.blog-page__top-bar{
    background-color: #222222;
    color: var(--white);
    text-align: center;
    width: 35rem;
  height: 22rem;
  padding: 1rem;
  position: absolute;
  opacity: 0;
}
.blog-page__top-bar-wrapper{
    background-color: #191919;
    text-align: center;
    height: 20rem;
    border-radius: 1.5rem;
    border: dashed 1px #474747;
}
.blog-page__contents{
    gap: 5rem;

}
.blog-page__content-list__titles{
    gap: 6rem;
    margin-right: 3rem;
}
.blog-page__content-list-title{
    border-bottom: dashed 1px var(--main-color);
    padding-bottom: 1rem;
}
.blog-page__content-lists{
    flex-direction: column;
    gap: 2rem;
}
.blog-page__content-list{
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.blog-page__content-list:hover{
    color: var(--main-color);
}



.blog-page__paginations{
    gap: 4rem;
    position: absolute;
    right: 45rem;
}
.blog-page__pagination{
    color: var(--main-color);
    background: var(--main-bg-color);
    padding: 2rem 2.3rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.blog-page__pagination:hover  {
    color: var(--main-bg-color);
    background: var(--main-color);
 
}

.blog-page__pagination--active{
    color: var(--main-bg-color);
    background: var(--main-color);
}
